<h1 class="page-title">Todo App</h1>

<div class="todo-header">
  <app-button variant="primary" (click)="openDialog(null)">+ Add a task</app-button>
</div>

<div class="task-section">
  <h3>Tasks</h3>
  <app-task-list
    [tasks]="activeTasks()"
    (toggleCompleted)="onToggleCompleted($event)"
    (toggleImportant)="onToggleImportant($event)"
    (edit)="onEditTask($event)"
  />
</div>

<div class="task-section completed">
  <h3>Completed</h3>
  <app-task-list
    [tasks]="completedTasks()"
    (toggleCompleted)="onToggleCompleted($event)"
    (toggleImportant)="onToggleImportant($event)"
    (edit)="onEditTask($event)"
  />
</div>
