<h1 class="page-title">Todo App</h1>

<div class="todo-header">
  <button customButton (click)="openDialog()">
    <app-icon [name]="IconEnum.PLUS" />
    Add a task
  </button>
</div>

@let isInProgressMode = contentViewMode() === 'in-progress';

<app-toggle-button-group [ngModel]="contentViewMode()" (ngModelChange)="changeView($event)">
  <app-toggle-button ariaLabel="In Progress Tasks" value="in-progress" [isActive]="isInProgressMode">
    In Progress
  </app-toggle-button>
  <app-toggle-button ariaLabel="Completed Tasks" value="completed" [isActive]="!isInProgressMode">
    Completed
  </app-toggle-button>
</app-toggle-button-group>

<app-task-list
  [tasks]="isInProgressMode ? activeTasks() : completedTasks()"
  [loading]="loading()"
  (clickedImportantButton)="handleToggleImportant($event)"
  (clickedTitle)="openDialog($event)"
/>
