<h1>Todo App</h1>

<button customButton (click)="openDialog(null)">
  <app-icon [name]="IconEnum.PLUS" />
  Add a task
</button>

@let isInProgressMode = taskViewMode() === TaskView.IN_PROGRESS;

<app-toggle-button-group [ngModel]="taskViewMode()" (ngModelChange)="changeViewMode($event)">
  <app-toggle-button ariaLabel="In Progress Tasks" [value]="TaskView.IN_PROGRESS" [isActive]="isInProgressMode">
    In Progress
  </app-toggle-button>
  <app-toggle-button ariaLabel="Completed Tasks" [value]="TaskView.COMPLETED" [isActive]="!isInProgressMode">
    Completed
  </app-toggle-button>
</app-toggle-button-group>

<app-task-list
  [tasks]="isInProgressMode ? activeTasks() : completedTasks()"
  [loading]="loading()"
  (clickedTitle)="openDialog($event)"
  (clickedDeleteButton)="handleDeleteTask($event)"
  (clickedImportantButton)="handeUpdateTaskImportant($event)"
/>
