<app-card>
  <app-card-header>
    <app-card-title>
      {{ title() }}
      <app-tag [color]="tagColor()"> {{ status() }} </app-tag>
    </app-card-title>
    <app-card-sub-title>
      <span taskPriority [priority]="priority()">
        {{ priority() }}
      </span>
    </app-card-sub-title>
  </app-card-header>

  <app-card-content>
    <p cusParagraph>{{ description() }}</p>
  </app-card-content>

  <app-card-footer>
    <button class="btn-update" customButton cusVariant="outline" (click)="edit()">
      <app-icon [name]="IconEnum.EDIT" />
      Edit
    </button>

    <button class="btn-remove" customButton cusType="danger" cusVariant="outline" (click)="remove()">
      <app-icon [name]="IconEnum.DELETE" />
      Delete
    </button>
  </app-card-footer>
</app-card>
