<header>
  <h4 cusTitle (click)="edit()">{{ task().title }}</h4>
  <app-icon role="button" class="delete-icon" [name]="IconEnum.DELETE" (click)="remove()" />
</header>

<p cusParagraph>{{ task().description }}</p>

<footer>
  <section
    class="priority"
    [ngClass]="{
      high: task().priority == 'High',
      medium: task().priority == 'Medium',
      low: task().priority == 'Low'
    }"
  >
    <app-icon [name]="IconEnum.PRIORITY_FLAG" />
    <span>{{ task().priority }}</span>
  </section>

  <app-tag [color]="tagColor()"> {{ task().status }} </app-tag>
</footer>
