<h2>{{ taskId() ? 'Edit Task' : 'Add Task' }}</h2>
<div class="close" (click)="closeDialog()">&times;</div>

@if (!fetching()) {
  <form [formGroup]="form" (ngSubmit)="submitTask()">
    <app-text-input formControlName="title" placeholder="Enter title" label="Title" isRequired="true" />
    <app-text-area formControlName="description" placeholder="Enter description" label="Description" />
    <label class="important-checkbox">
      <input type="checkbox" formControlName="important" name="important" />
      <span>Mark as important</span>
    </label>
    <div class="dialog-actions">
      @if (taskId()) {
        <app-button variant="error" (click)="deleteTask()" type="button" [disabled]="saving() || deleting()">
          @if (saving() || deleting()) {
            <app-spinner />
          } @else {
            Delete
          }
        </app-button>
      }
      <app-button variant="primary" type="submit" [disabled]="!form.dirty || form.invalid || saving()">
        @if (saving()) {
          <app-spinner />
        } @else {
          Save
        }
      </app-button>
    </div>
  </form>
} @else {
  <app-spinner />
}
