@if (!fetching()) {
  <h2>{{ id ? 'Edit Task' : 'Add Task' }}</h2>
  <div class="close" (click)="closeDialog()">&times;</div>
  <form [formGroup]="form" (ngSubmit)="submitTask()">
    <app-text-input
      formControlName="title"
      placeholder="Enter title"
      label="Title"
      isRequired="true"
      [invalid]="form.controls.title.invalid"
    />
    <app-text-area formControlName="description" placeholder="Enter description" label="Description" />

    <app-checkbox formControlName="important" label="Mark as important" />

    @if (id) {
      <app-checkbox formControlName="completed" label="Mark as completed" />
    }

    <div class="dialog-actions">
      @if (id) {
        <app-button variant="error" (click)="deleteTask()" type="button" [disabled]="saving() || deleting()">
          Delete
        </app-button>
      }
      <app-button variant="primary" type="submit" [disabled]="!form.dirty || form.invalid || saving()">
        Save
      </app-button>
    </div>
  </form>
} @else {
  <div class="loading">
    <app-spinner />
  </div>
}
