<form [formGroup]="form" (ngSubmit)="submit()">
  <header>
    <h3 cusTitle>{{ isEdit ? 'Edit Task' : 'Add Task' }}</h3>
    <button customButton cusVariant="text" cusType="secondary" class="close" (click)="close()">&times;</button>
  </header>

  @if (!isFetching()) {
    <fieldset>
      <div class="control-group">
        <label>Title *</label>
        <input appCusInput formControlName="title" placeholder="Enter title" />
      </div>

      <div class="control-group">
        <label>Description</label>
        <app-text-area formControlName="description" placeholder="Enter description" />
      </div>

      <div class="control-group">
        <label>Priority *</label>
        <app-custom-select formControlName="priority" placeholder="Priority" [options]="priorityOptions()" />
      </div>

      <div class="control-group">
        <label>Status *</label>
        <app-custom-select formControlName="status" placeholder="Task Status" [options]="statusOptions()" />
      </div>
    </fieldset>
  } @else {
    <fieldset>
      <app-skeleton width="100%" height="70px"></app-skeleton>
      <app-skeleton width="100%" height="175px"></app-skeleton>
      <app-skeleton width="100%" height="70px"></app-skeleton>
      <app-skeleton width="100%" height="70px"></app-skeleton>
    </fieldset>
  }

  <footer>
    <button customButton type="submit" [disabled]="form.invalid || isLoading()" [isLoading]="isLoading()">Save</button>
  </footer>
</form>
