<form [formGroup]="form" (ngSubmit)="submit()">
  <header>
    <h2 cusTitle>{{ isEditMode() ? 'Edit Task' : 'Add Task' }}</h2>
    <button customButton cusVariant="text" cusType="secondary" class="close" (click)="close()">&times;</button>
  </header>

  @if (!isFetching()) {
    <main>
      <app-form-field>
        <app-form-label required for="title">Title</app-form-label>
        <input id="title" appCusInput formControlName="title" placeholder="Enter title" />
      </app-form-field>

      <app-form-field>
        <app-form-label for="description">Description</app-form-label>
        <app-text-area [id]="'description'" formControlName="description" placeholder="Enter description" />
      </app-form-field>

      <app-form-field>
        <app-form-label required id="priority">Priority</app-form-label>
        <app-custom-select
          formControlName="priority"
          placeholder="Priority"
          ariaDescribedby="priority"
          [options]="priorityOptions()"
        />
      </app-form-field>

      <app-form-field>
        <app-form-label required id="status">Status</app-form-label>
        <app-custom-select
          ariaDescribedby="status"
          formControlName="status"
          placeholder="Status"
          [options]="statusOptions()"
        />
      </app-form-field>
    </main>

    <footer>
      <button customButton type="submit" [disabled]="form.invalid || isLoading()" [isLoading]="isLoading()">
        Save
      </button>
    </footer>
  } @else {
    <fieldset class="skeletons">
      <app-skeleton width="100%" height="80px"></app-skeleton>
      <app-skeleton width="100%" height="120px"></app-skeleton>
      <app-skeleton width="100%" height="80px"></app-skeleton>
      <app-skeleton width="100%" height="80px"></app-skeleton>

      <div class="action">
        <app-skeleton width="140px" height="48px"></app-skeleton>
      </div>
    </fieldset>
  }
</form>
