<router-outlet />

<h3>Buttons</h3>
<div>
  <app-button> Button </app-button>
  <app-button variant="secondary"> Button </app-button>
  <app-button variant="tertiary"> Button </app-button>
  <app-button variant="error"> Button </app-button>
</div>

<h3>Outline</h3>

<div>
  <app-button [outlined]="true"> Button </app-button>
  <app-button [outlined]="true" variant="secondary"> Button </app-button>
  <app-button [outlined]="true" variant="tertiary"> Button </app-button>
  <app-button [outlined]="true" variant="error"> Button </app-button>
</div>
