@use 'typography' as *
@use 'colors'

:host
  padding: 32px 15%
  min-height: 100vh
  display: flex
  flex-direction: column

  button
    margin-top: 64px
    align-self: flex-end

  .task-lists
    margin-top: 24px
    display: flex
    flex-direction: column
    gap: 24px

