<h1 appPageTitle>Todo App</h1>

<app-filter
  [sortOptions]="sortOptions()"
  [statusOptions]="(statusOptions$ | async) || []"
  [initFilter]="filter()"
  (filterChanges)="handleFilterChange($event)"
/>

<button customButton (click)="openTaskDialog()">
  <app-icon [name]="IconEnum.PLUS" />
  New task
</button>

<section class="task-lists">
  @for (task of tasks(); track task.id) {
    <app-task [task]="task" (taskEdit)="openTaskDialog(task.id)" (taskRemove)="removeTask(task)" />
  }

  @if (isLoading()) {
    @for (_ of [].constructor(2); track $index) {
      <app-skeleton height="140px" />
    }
  }
</section>
