<h1 cusTitle>Todo App</h1>

<app-filter [sortOptions]="sortOptions()" [statusOptions]="statusOptions()" [formControl]="filterControl" />

<section class="action-toolbar">
  <button customButton (click)="openTaskDialog()">
    <app-icon [name]="IconEnum.PLUS" />
    New task
  </button>
</section>

<app-list-view-container>
  @for (task of tasks(); track task.id) {
    <app-task
      [title]="task.title"
      [description]="task.description"
      [priority]="task.priority"
      [status]="task.status"
      (onEdit)="openTaskDialog(task.id)"
      (onRemove)="removeTask(task)"
    />
  }

  @if (isLoading()) {
    @for (_ of [].constructor(2); track $index) {
      <app-skeleton height="235px" />
    }
  }
</app-list-view-container>
