<h1 cusTitle>Todo App</h1>

<app-filter [sortOptions]="sortOptions()" [statusOptions]="statusOptions()" [formControl]="filterControl" />

<section class="action-toolbar">
  <button customButton (click)="openTaskDialog()">
    <app-icon [name]="IconEnum.PLUS" />
    New task
  </button>
</section>

<app-task-list [isLoading]="isLoading()">
  @for (task of tasks(); track task.id) {
    <app-task
      [title]="task.title"
      [description]="task.description"
      [priority]="task.priority"
      [status]="task.status"
      (onEdit)="openTaskDialog(task.id)"
      (onRemove)="removeTask(task)"
    />
  }
</app-task-list>
