@use './palette'

$primary: palette.$p-primary-700
$on-primary: white
$primary-container: palette.$p-primary-200
$on-primary-container: palette.$p-primary-50

$secondary: palette.$p-secondary-700
$on-secondary: white
$secondary-container: palette.$p-secondary-200
$on-secondary-container: palette.$p-secondary-50

$success: palette.$p-success-700
$on-success: white
$success-container: palette.$p-success-200
$on-success-container: palette.$p-success-50

$warning: palette.$p-warning-400
$on-warning: white
$warning-container: palette.$p-warning-200
$on-warning-container: palette.$p-warning-50

$danger: palette.$p-danger-700
$on-danger: white
$danger-container: palette.$p-danger-200
$on-danger-container: palette.$p-danger-50

@forward "./palette"

