$p-primary-10: #001a40
$p-primary-20: #162e60
$p-primary-25: #1d3b6a
$p-primary-30: #2a4677
$p-primary-40: #435e90
$p-primary-50: #5c77aa
$p-primary-60: #7691c6
$p-primary-70: #91abe2
$p-primary-80: #acc7ff
$p-primary-90: #d7e2ff
$p-primary-95: #edf0ff
$p-primary-100: #ffffff

$p-secondary-10: #001e2f
$p-secondary-20: #00344d
$p-secondary-25: #1d3b6a
$p-secondary-30: #004c6e
$p-secondary-40: #006591
$p-secondary-50: #007fb5
$p-secondary-60: #009adb
$p-secondary-70: #3db5f8
$p-secondary-80: #89ceff
$p-secondary-90: #c9e6ff
$p-secondary-95: #e5f2ff
$p-secondary-100: #ffffff

$p-tertiary-10: #261900
$p-tertiary-20: #412d00
$p-tertiary-30: #5d4200
$p-tertiary-40: #7b5800
$p-tertiary-50: #9a7000
$p-tertiary-60: #ba8800
$p-tertiary-70: #dca105
$p-tertiary-80: #fbbc2e
$p-tertiary-90: #ffdea4
$p-tertiary-95: #ffefd6
$p-tertiary-100: #ffffff

$p-error-10: #410008
$p-error-20: #680013
$p-error-30: #92021f
$p-error-40: #b42434
$p-error-50: #d73f49
$p-error-60: #fa5861
$p-error-70: #ff8889
$p-error-80: #ffb3b2
$p-error-90: #ffdad9
$p-error-95: #ffedec
$p-error-100: #ffffff

$p-neutral-10: #383e49
$p-neutral-15: #262626
$p-neutral-20: #4b5462
$p-neutral-30: #5b6778
$p-neutral-40: #6d7b90
$p-neutral-50: #7b8ba2
$p-neutral-60: #909cb0
$p-neutral-70: #a4afc0
$p-neutral-80: #bec6d3
$p-neutral-90: #d7dde6
$p-neutral-95: #eff1f6
$p-neutral-98: #f3f4f8
$p-neutral-99: #f7f8fa
$p-neutral-100: #ffffff

$p-neutral-variant-10: #1b1c1d
$p-neutral-variant-20: #303031
$p-neutral-variant-30: #464748
$p-neutral-variant-40: #5e5e5f
$p-neutral-variant-50: #777778
$p-neutral-variant-60: #919091
$p-neutral-variant-70: #acabac
$p-neutral-variant-80: #c7c6c7
$p-neutral-variant-90: #e4e2e3
$p-neutral-variant-95: #f2f0f1
$p-neutral-variant-100: #ffffff
