<div class="task-content" [class.completed]="task().completed">
  <span class="task-title">
    <span (click)="handleClickTitle()">{{ task().title }}</span>

    @if (task().completed) {
      <app-icon [name]="IconEnum.CHECKMARK_CIRCLE"/>
    }
  </span>
  <span class="task-description">{{ task().description }}</span>
</div>

<button customButton cusVariant="text" cusType="secondary" (click)="handleClickImportant()">
  <app-icon class="star-icon" [class.important]="task().important" [name]="IconEnum.STAR_FILLED"/>
</button>

<button customButton cusVariant="text" cusType="danger" (click)="handleClickDelete()">
  <app-icon class="delete-icon" [name]="IconEnum.DELETE"/>
</button>
