@use 'colors'
@use 'typography' as *

:host
  display: flex
  gap: 8px
  min-height: 52px
  background: white
  box-shadow: 0 0.3px 0.9px rgba(0,0,0,0.1), 0 1.6px 3.6px rgba(0,0,0,0.1)
  border-radius: 4px
  padding: 16px

.task-content
  display: flex
  flex-direction: column
  gap: 4px
  flex: 1

  &.completed app-icon
    background: colors.$p-success-500

  .task-title
    @extend %title-lg
    cursor: pointer
    display: inline-flex
    column-gap: 8px

  .task-description
    @extend %body-lg

.star-icon
  background: colors.$p-secondary-300
  &.important
    background: colors.$p-warning-300

.delete-icon
  background: colors.$danger
